@charset "ISO-8859-1";
@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,body{

	margin: 0;
	padding:0;
}
body{

	
width: 100%;
height: 100%;
font-family: sans-serif;
letter-spacing: 0.03em;
line-height: 1.6;
font-family: 'Open Sans', sans-serif;

}
.title{

	text-align: center;
	font-size: 40px;
	color: #6a6a6a;
	margin-top: 100px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 100%;
	max-width: 1200px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:auto;
	
}

.container .card{

	width: 340px;
	height: 680px;
	
	
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	overflow: hidden;
	margin:20px;
	text-align: center;
	transition: all 0.25s;
	background-color: #ffe05d;
}

.container .card:hover{
	transform: translate(-15px);
	box-shadow: 0 12px 16px rgba(0,0,0,0.2);


}

.container .card img{
	widows: 330px;
	height: 200px;
}



#btnBuscar{
  width: 190px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  margin-left: 50%;
  transform: translateX(-50%);
}
#btnRegistrar{
width: 190px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
  margin-left: 50%;
  transform: translateX(-50%);
}
body{
background-color: #fff8cd;
}